body {
    background-color: lightblue;
}

#title {
	font-family: Roboto;
	font-size: 150%;
	font-weight: 700;
	text-align: center;
	vertical-align: text-top;
}

div.input-title {
	display: block;
    font-family: Roboto;
	font-size: 26;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
}

#savebutton {
	border: none;
	font-family: Roboto;
	font-weight: 300;
	padding-top: 10px;
	text-align: center;
}
